{% extends "base.html" %}
{% block head %}
    <title xmlns="http://www.w3.org/1999/html">Login</title>
{% endblock head %}
{% block body %}
    <div class="container min-vh-100 d-flex justify-content-center align-items-center">
        <form method="post" action="{% url 'login' %}" class="rounded p-5 bg-light shadow">
        {% csrf_token %}
            <div class="mb-2">
                <label for="inputUsername" class="col-form-label fw-semibold">Username</label>
                <input type="text" id="inputUsername" placeholder="Username" name="username" class="form-control">
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="col-form-label fw-semibold">Password</label>
                <input type="text" id="inputPassword" placeholder="Password" name="password1" class="form-control">
            </div>
            <div class="pt-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-dark">Login</button>
            </div>
        </form>
    </div>
{% endblock body %}
