{% extends "base.html" %}
{% block head %}
    <title xmlns="http://www.w3.org/1999/html">Login</title>
{% endblock head %}
{% block body %}
    <div class="container min-vh-100 d-flex justify-content-center align-items-center">
        <form method="post" action="{% url 'login' %}" class="rounded p-5 bg-light shadow">
        {% csrf_token %}
            <div class="mb-2">
                <label for="inputUsername" class="col-form-label fw-semibold">Username</label>
                <input type="text" id="inputUsername" placeholder="Username" name="username" class="form-control">
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="col-form-label fw-semibold">Password</label>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Your Password" name="password1" aria-label="Password" aria-describedby="toggle-password">
                    <button class="btn btn-outline-secondary input-group-append" type="button" id="toggle-password">
                        <i class="bi bi-eye-slash"></i>
                    </button>
                </div>
            </div>
            <div class="pt-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-dark">Login</button>
            </div>
        </form>
    </div>

    <script>
        const togglePassword = document.querySelector('#toggle-password');
        const password = document.querySelector('#inputPassword');

        togglePassword.addEventListener('click', function() {
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            this.innerHTML = type === 'password' ? '<i class="bi bi-eye-slash"></i>' : '<i class="bi bi-eye"></i>';
        });
    </script>
{% endblock body %}
