{% extends 'base.html' %}
{% block body %}
    <div class="container min-vh-100 d-flex justify-content-center align-items-center">
        <form method="post" action="{% url 'register' %}" class="rounded p-5 bg-light shadow">
        {% csrf_token %}
            <div class="mb-2">
                <label for="inputUsername" class="col-form-label fw-semibold">Username</label> <br>
                <input type="text" id="inputUsername" placeholder="Username" name="username" class="form-control">
            </div>
            <div class="mb-2">
                <label for="inputPassword" class="col-form-label fw-semibold">Password</label> <br>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Enter Your Password" name="password1" aria-label="Password" aria-describedby="toggle-password1">
                    <button class="btn btn-outline-secondary input-group-append" type="button" id="toggle-password1">
                        <i class="bi bi-eye-slash"></i>
                    </button>
                </div>
            </div>
            <div class="mb-3">
                <label for="inputConfirmPassword" class="col-form-label fw-semibold">Confirm Password</label> <br>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Your Password" name="password2" aria-label="Password" aria-describedby="toggle-password2">
                    <button class="btn btn-outline-secondary input-group-append" type="button" id="toggle-password2">
                        <i class="bi bi-eye-slash"></i>
                    </button>
                </div>
            </div>
            <div class="pt-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-dark">Register</button>
            </div>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const togglePassword1 = document.querySelector('#toggle-password1');
            const password1 = document.querySelector('#inputPassword');

            togglePassword1.addEventListener('click', function() {
                const type = password1.getAttribute('type') === 'password' ? 'text' : 'password';
                password1.setAttribute('type', type);
                this.innerHTML = type === 'password' ? '<i class="bi bi-eye-slash"></i>' : '<i class="bi bi-eye"></i>';
            });

            const togglePassword2 = document.querySelector('#toggle-password2');
            const password2 = document.querySelector('#inputConfirmPassword');

            togglePassword2.addEventListener('click', function() {
                const type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
                password2.setAttribute('type', type);
                this.innerHTML = type === 'password' ? '<i class="bi bi-eye-slash"></i>' : '<i class="bi bi-eye"></i>';
            });
        });
    </script>
{% endblock %}