{% extends 'base.html' %}
{% block body %}
    <div class="container min-vh-100 d-flex justify-content-center align-items-center">
        <form method="post" action="{% url 'register' %}" class="rounded p-5 bg-light shadow">
        {% csrf_token %}
            <div class="mb-2">
                <label for="inputUsername" class="col-form-label fw-semibold">Username</label> <br>
                <input type="text" id="inputUsername" placeholder="Username" name="username" class="form-control">
            </div>
            <div class="mb-2">
                <label for="inputPassword" class="col-form-label fw-semibold">Password</label> <br>
                <input type="text" id="inputPassword" placeholder="Password" name="password1" class="form-control">
            </div>
            <div class="mb-3">
                <label for="inputConfirmPassword" class="col-form-label fw-semibold">Confirm Password</label> <br>
                <input type="text" id="inputConfirmPassword" placeholder="Password" name="password2" class="form-control">
            </div>
            <div class="pt-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-dark">Register</button>
            </div>
        </form>
    </div>
{% endblock %}